.photo-grid__list {
    list-style: none;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
    .photo-grid__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1023px) {
    .photo-grid__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .photo-grid__list {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}