.places {
    padding-top: 92px;
    padding-bottom: 92px;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 80px;
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1023px) {
    .places {
        padding: 88px 24px 90px 24px;
        gap: 73px;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .places {
        padding: 64px 0 66px 0;
        gap: 50px;
    }
}