.places {
    padding-top: 92px;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 80px;
}

/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {

}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1023px) {
    .places {
        padding-top: 88px;
        gap: 73px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .places {
        padding: 64px 0 0;
        gap: 50px;
    }
}