.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    margin: auto;
    width: 720px;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        width: 288px;
    }
}