.cover {
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin-top: 92px;
}

.cover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
}

.cover:hover:after {
    opacity: 0.8;
}



/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
    .cover {
        margin-top: 90px;
        min-height: 640px;
    }
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1023px) {
    .cover {
        margin-top: 90px;
        min-height: 480px;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .cover {
        margin-top: 66px;
        min-height: 200px;
    }
}