.cover__overlay {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    min-height: 740px;
}

/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
    .cover__overlay {
        min-height: 640px;
    }
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1023px) {
    .cover__overlay {
        min-height: 480px;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .cover__overlay {
        min-height: 200px;
    }
}