.place__website {
    align-self: end;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .place__website {
        padding-left: 16px;
        padding-right: 16px;
    }
}